.gradientBG {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(./assets/images/spacex-bg.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-clip: border-box;
  background-origin: border-box;
}
